.p {
  opacity: 70%;
}

@media (min-width: 768px) {
  .mijoz-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;

    .card {
      width: 45%;
      margin: 0 auto;

      &:nth-child(3) {
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 1200px) {
  .mijoz-wrapper .card {
    width: 30%;
  }
}
